*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 2.5rem;
}

.menu-list {
  list-style: none;
  display: flex;
  background-color: black;
}

.menu-item {
  padding: .5rem 2rem .75rem 2rem;
  color: rgb(230, 230, 230);
  position: relative;
}

.menu-item::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 50%;
  width: 1px;
  margin-left: 2rem;
  top: 9px;
}

.menu-item:hover {
  background-color: rgb(87, 87, 87);
  color: white;
  cursor: pointer;
}

.menu-item:hover > ul {
  display: block;
}

.menu-item:hover::after {
  content: '';
  background-color: transparent;
}

.dropdown-menu {
  position: absolute;
  list-style-type: none;
  left: 0;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  background-color: rgb(87, 87, 87);
}

.dropdown-menu-item {
  padding: .8rem;
  position: relative;
  font-size: 1.5rem;
}

.longer {
  font-size: 1.2rem;
}

.dropdown-menu-item:hover {
  background-color: red;
}

.dropdown-menu-item::before {
  content: '';
  position: absolute;
  width: 70%;
  background-color: white;
  height: 1px;
  top: -.5px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu-item:hover::before {
  content: '';
  background-color: transparent;
}

.dropdown-menu-item:hover + .dropdown-menu-item::before {
  content: '';
  background-color: transparent;
}



.hidden {
  display: none;
}